.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grid from https://gridbyexample.com/examples/example13/ */

body {
  margin: 10px;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
}

@media only screen and (min-width: 500px)  {
  .wrapper {

    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "content1"
    "content2"
    "content3"
    "footer";
  }
}

@media only screen and (min-width: 600px)   {
  .wrapper {
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "content1"
    "content2"
    "content3"
    "footer";
    max-width: 1800px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 100%;
}

.header,
.footer {
  background-color: #e0d089;
}

.sidebar, .sidebar2 {
  background-color: #efe9cc;
  color: #444;
}

.content1, .content2, .content3, .content4 {
  background-color: #dceec4;
  color: #444;
}

H4 {
  margin: 5px;
}

/* table */

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td {
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td:last-child {
  border-right: 0;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.Align-left {
  text-align: left;
}

.Align-right {
  text-align: right;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 5px 10px;
}

.walletLookup {
  width: 100%;
  border: 1px;
}

.walletLookup input {
  width: 50%;
}

.tdTitle {
  background-color: #009879;
  color: #ffffff;
  width: 50%;
}

.walletLookupInput, .walletLookupTable, .transactionTable {
  width: 60%
}

Input {
  width: 50%;
}

.transactionsTable, .blocksTable {
  width: 80%;
}
